 <header>
        	<div class="container">
            	<div class="col-sm-12">
                    <div class="header_logo">
                        <a [routerLink]="['/home']"><img src="../app/components/images/logo-wh.png" alt=""></a>
                    </div>
                </div>
            </div>
        </header>
        
        <section class="header_sub">
            <div class="container">
                <div class="col-sm-12"> 
                    <h3>Playground</h3>
                </div>
            </div>
        </section>
        
        <!--<section class="back_button">
            <div class="container">
                <div class="col-md-12"><a href="#"><img src="images/New-User-back.png" alt=""></a></div>
            </div>
        </section>-->
        
        <section class="teble_area">
        	<div class="container">
                  <div class="teble_area_playground">
                  	<div class="teble_area_playground_inner">
                  		<div class="teble_area_playground_inner_top">
                        	<div class="col-sm-3">
                                    <div class="styled">
                                      <select  class="text">
                                        <option selected>Select Gesture</option>
                                        <option>Apples</option>
                                        <option>Chocklate</option>
                                        <option>Pancakes</option>
                                      </select>
                                    </div>
                            </div>
                        	<div class="col-sm-3">
                                    <div class="styled">
                                      <select  class="text">
                                        <option selected>Select User</option>
                                        <option>Apples</option>
                                        <option>Chocklate</option>
                                        <option>Pancakes</option>
                                      </select>
                                    </div>
                            </div>
                        	<div class="col-sm-3">
                                    <div class="styled">
                                      <select  class="text">
                                        <option selected>Select Customer</option>
                                        <option>Apples</option>
                                        <option>Chocklate</option>
                                        <option>Pancakes</option>
                                      </select>
                                    </div>
                            </div>
                        	<div class="col-sm-3">
                                    <div class="styled">
                                      <select  class="text">
                                        <option selected>Select Data Type</option>
                                        <option>Apples</option>
                                        <option>Chocklate</option>
                                        <option>Pancakes</option>
                                      </select>
                                    </div>
                            </div>
                        </div>
                  		<div class="teble_area_playground_inner_body">
                        	<div class="col-sm-9">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                        <tr>
                                            <td>0.2</td>
                                            <td>0.4</td>
                                            <td>0.6</td>
                                            <td>0.8</td>
                                            <td>2.0</td>
                                            <td>0.8</td>
                                            <td>.12</td>
                                            <td>.13</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="teble_area_playground_bottom">
                                	<a href="#">Download CSV</a>
                                    <span>
                                    	<img src="../app/components/images/previous-2.png" alt="">
                                        <img src="../app/components/images/next-2.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-3">
                            	<div class="teble_area_playground_inner_body_right">
                                    <div class="styled">
                                      <select  class="text">
                                        <option selected>Algorithm</option>
                                        <option>Apples</option>
                                        <option>Chocklate</option>
                                        <option>Pancakes</option>
                                      </select>
                                    </div>
                                    <div class="test_btn">
                                    	<img src="../app/components/images/test-btn.png" alt="">
                                    </div>
                                    <div class="test_btn">
                                    	<img src="../app/components/images/ok-btn.png" alt="">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                  	</div>
                    </div>
            </div>
        </section>