<header>
        	<div class="container">
            <div class="col-sm-4">
                    <div class="header_logo">
                        <a [routerLink]="['/home']"><img src="../app/components/images/logo-wh.png" alt=""></a>
                    </div>
                </div>
            </div>
        </header>
        
        <section class="header_sub">
            <div class="container">
                <div class="col-sm-12"> 
                    <h3>Edit Device</h3>
                </div>
            </div>
        </section>
        
        <section class="back_button">
            <div class="container">
                <div class="col-md-12"><<a [routerLink]="['/view_device']"><img src="../app/components/images/New-User-back.png" alt=""></a></div>
            </div>
        </section>
        
        <section class="form_area">
        	<div class="container">
                  <div class="form_area_main">
                      <div class="form_area_main_inner">
                        <div class="col-sm-6">
                                <label>Name:</label>
                                <input class="text" type="text" placeholder="Name">
                        </div>
                        <div class="col-sm-6">
                                <label>Registard TO:</label>
                                <input class="text" type="text" placeholder="#HCW">
                        </div>
                        <div class="col-sm-6">
                                <label>Organization:</label>
                                <input class="text" type="text" placeholder="#Device">
                        </div>
                        <div class="col-sm-6">
                                <label>BotthV %:</label>
                                <input class="text" type="text" placeholder="HWEI today">
                        </div>
                        <div class="col-sm-6">
                                <label>Device type:</label>
                                <input class="text" type="text" placeholder="#Locations">
                        </div>
                        <div class="col-sm-6">
                                <label>#Locations:</label>
                                <input class="text" type="text" placeholder="#Locations">
                        </div>
                        <div class="col-sm-6">
                                <input class="Submit" type="submit" value="Save">
                        </div>
                      </div>
                  </div>
            </div>
        </section>