             <header>
          <div class="container">
          <div class="col-sm-4">
                  <div class="header_logo">
                      <a [routerLink]="['/home']"class="closebtn"><img src="../app/components/images/logo-wh.png" alt=""></a>
                  </div>
              </div>
          <div class="col-sm-4"><h2>Gesture</h2></div>
          <div class="col-sm-4">
              <span class="radius_l">Route A</span>
              <span class="radius_r">Route B</span>
          </div>
          </div>
      </header>
      <div class="view_gasture_body_container">
          <div class="container">
              <span>View Gesture</span>
          </div>
      </div>
      <div class="view_gasture_main_header">
          <div class="container">
              <div class="col-sm-6"> 
                  <div class="level">
                      <h2>Level</h2>
                  </div>
              </div>
              <div class="col-sm-6"> 
                  <div class="level">
                      <h2>Description</h2>
                  </div>
              </div>
          </div>
      </div>

<div class="view_gasture_main"> 
    <div class="container">
         <div class="view_gasture_main_main">
                    <ul>
                        <li *ngFor="let post of posts.gestures">  
                            <div class="handwash"> 
                                <div class="col-sm-6">                        
                                    <img src="../app/components/images/hand-wash.png"/>
                                        <h4>  <span>{{post.label}}</span></h4>
                                </div>
                                <div class="col-sm-6"> 
                                    <p>{{post.description}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
              </div>
        </div>
</div>
      
      <div class="view_gasture_main_page_innation">
      	<div class="container">
        	<span class="next_gasture"></span>
        	<span class="total_gasture">of 4,127</span>
        	<span class="current_gasture">4</span>
        	<span class="prev_gasture"></span>
        </div>
      </div>
