    <div id="mobileNav" class="overlay">
                <div class="tab_logo">
                        <a href="#"><img src="../app/components/images/logo-color.png" alt=""></a>
                </div>
        		<!--<span style="font-size:30px; cursor:pointer; position:absolute; z-index:9; top:10px; color:#ffffff;" onclick="openNav()">&#9776;</span>-->
              <div class="overlay-content">
                    <a [routerLink]="['/gesture']"class="closebtn" ><span class="icon_1"></span>Add Gesture</a>
                    <a [routerLink]="['/viewgesture']" class="closebtn" ><span class="icon_2"></span>View Gesture</a>
                    <a [routerLink]="['/view_customer']" class="closebtn" ><span class="icon_3"></span>Customers</a>

                   <a [routerLink]="['/view_device']" class="closebtn" ><span class="icon_4"></span>Devices</a>
                    <a [routerLink]="['/play_ground']" class="closebtn" ><span class="icon_5"></span>Playground</a>
                 
                    <a [routerLink]="['/reports']" class="closebtn" ><span class="icon_5"></span>Reports</a>
                    <a [routerLink]="['/view_user']" class="closebtn" ><span class="icon_5"></span>User</a>
                    
              </div>
        </div>
<header>
    <div class="container">
        <span>Route A</span>
      </div>
</header>


 
