 <header>
        	<div class="container">
            <div class="col-sm-12">
                    <div class="header_logo">
                        <a [routerLink]="['/home']"><img src="../app/components/images/logo-wh.png" alt=""></a>
                    </div>
                </div>
            </div>
        </header>
        
        <section class="header_sub">
            <div class="container">
                <div class="col-sm-6"> 
                    <h3>Customers Table</h3>
                    <span><a [routerLink]="['/add_customer']"><img src="../app/components/images/Add-customer.png" alt=""></a></span>
                </div>
                <div class="col-sm-6">
                    <div class="header_sub_right">
                        <input class="text" type="search" placeholder="Search by name organization">
                        <input class="submit" type="submit" value="">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="back_button">
            <div class="container">
                <div class="col-md-12"><a [routerLink]="['/home']"><img src="../app/components/images/New-User-back.png" alt=""></a></div>
            </div>
        </section>
        
        <section class="teble_area">
        	<div class="container">
                  <div class="teble_area_customer">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mailing Address</th>
                                    <th>#HCW</th>
                                    <th>#Device</th>
                                    <th>HWEI today</th>
                                    <th>#Locations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="first-td"><a [routerLink]="['/edit_customer']"><span class="ic_edit-customer"></span></a><input type="text" placeholder="Adam"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                                <tr>
                                    <td class="first-td"><span class="ic_edit-customer"></span><input type="text" placeholder="Al Imran"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                                <tr>
                                    <td class="first-td"><span class="ic_edit-customer"></span><input type="text" placeholder="Azharul"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                                <tr>
                                    <td class="first-td"><span class="ic_edit-customer"></span><input type="text" placeholder="Syed"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                                <tr>
                                    <td class="first-td"><span class="ic_edit-customer"></span><input type="text" placeholder="Googly"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                                <tr>
                                    <td class="first-td"><span class="ic_edit-customer"></span><input type="text" placeholder="Salma"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                                <tr>
                                    <td class="first-td"><span class="ic_edit-customer"></span><input type="text" placeholder="Zurzahan"> </td>
                                    <td><input type="text" placeholder=" 1234, E, Sl"></td>
                                    <td><input type="text" placeholder="1567"></td>
                                    <td><input type="text" placeholder="360"></td>
                                    <td><input type="text" placeholder="520"> </td>
                                    <td><input type="text" placeholder="16"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

            </div>
        </section>
        
        <section class="page_innation_area">
        	<div class="container">
                <span>
                	<div class="current_row">0-7</div>
                	<img src="./app/components/images/Prev-3.png"  alt="">
                	<img src="./app/components/images//Next-3.png"  alt="">
                </span>
            	<span style="line-height: 32px;">Total Customers: 12031</span>
            </div>
        </section>